:root {
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria: "Lato", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: var(--separacion / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.btn {
    color: var(--blanco);
    background-color: var(--gris);
    border: 1px solid var(--gris);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    transition: background-color .3s;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--blanco);
    color: var(--gris);
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Fecha */
.fecha {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--negro);
}

@media (min-width: 768px) {
    .fecha {
        flex-direction: row;
        justify-content: space-around;
    }
}

.usuario {
    width: 30px;
}

/* Header */
.header {
    background-color: var(--negro);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.imagen-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-cambio {
    margin-top: 2rem;
    width: 90%;
    display: inline-block;
    color: var(--negro);
    background-color: var(--grisClaro);
    border: 1px solid var(--gris);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .3s;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn-cambio {
        width: 50%;
    }
}

.btn-cambio:hover {
    background-color: #5e5e5e;
    color: var(--blanco);
}

.texto-header {
    text-align: center;
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.texto-header p {
    margin: 0;
}

.nombre-producto {
    font-size: 6rem;
    margin: 0;
    font-weight: 400;
}

.nombre-producto span,
.precio-producto span {
    font-weight: 900;
}

@media (min-width: 768px) {
    .nombre-producto {
        font-size: 10rem;
        line-height: 1;
    }
}

.precio-producto span {
    font-size: 6rem;
}

/* Iconos */
.iconos {
    margin: var(--separacion) 0;
}

@media (min-width: 768px) {
    .iconos {
        display: flex;
        gap: 2rem;
    }
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--separacion) / 2);
}

.icono:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icono {
        margin: 0
    }
}

.icono img {
    width: 10rem;
    margin: 0 auto;
}

.icono h3 {
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
}

/* Sobre Tech Vision */
.sobre-tech {
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}

.sobre-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--gris) 0%), url(../img/hero-image.jpg);
    background-size: 100%, 110rem;
}

@media (min-width: 768px) {
    .sobre-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--gris) 0%), url(../img/hero-image.jpg);
        background-repeat: repeat, no-repeat;
        background-size: 100%, 110rem;
    }
}

.sobre-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
}

@media (min-width: 768px) {
    .sobre-tech-grid {
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        padding: calc(var(--separacion) * 2) 0;
    }
}

.texto-sobre-tech {
    grid-row: 2 / 3;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: var(--separacion);
}

@media (min-width: 768px) {
    .texto-sobre-tech {
        padding-bottom: 0;
    }
}

@media (min-width: 1600px) {
    .sobre-tech {
        background-size: 100%, 210rem;
    }
}

.texto-sobre-tech h2 {
    font-size: 4rem;
}

.texto-sobre-tech p {
    font-size: 2rem;
    line-height: 2;
}

/* Modelos */
.titulo-modelos {
    margin-top: calc(var(--separacion) * 2);
    text-align: center;
}

.modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5rem;
}

.modelo:last-of-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .modelo {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido-modelo {
    background-color: var(--blanco);
    padding: 5rem;
    grid-row: 2 / 2;
}

.eclipse {
    background-image: url(../img/ai-pin-eclipse-front.jpg);
    background-size: contain;
}

@media (min-width: 768px) {
    .eclipse {
        background-position: top left;
    }

    .eclipse .contenido-modelo {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }
}

.lunar {
    background-image: url(../img/ai-pin-lunar-front.jpg);
    background-size: contain;
}

@media (min-width: 768px) {
    .lunar {
        background-position: top right;
    }

    .lunar .contenido-modelo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 2rem;
    }
}

.equinox {
    background-image: url(../img/ai-pin-equinox-front.jpg);
    background-size: contain;
}

@media (min-width: 768px) {
    .equinox {
        background-position: top left;
    }

    .equinox .contenido-modelo {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }
}

.contacto {
    margin-top: calc(var(--separacion) * 2);
    padding-top: calc(var(--separacion) * 2);
    border-top: .1rem solid #e1e1e1;
}

/* Formulario */

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: var(--gris);
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.chequeo {
    display: flex;
}

.chequeo p {
    margin-left: 1rem;
}

/* Footer */
.copyright {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}

/* LOGIN */
.contenedor-formulario {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 100rem;
    background-image: url(../img/order-summary-eclipse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.formulario-inicio {
    /* margin-top: calc(var(--separacion) * 2); */
    border: 1px solid red;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 4rem;
    border: .2rem solid #e1e1e1;
    cursor: pointer;
}

.titulo-login {
    text-align: center;
}

.imagen-ojo {
    width: 2.5rem;
    height: 2.5rem;
}

.btnlogin {
    width: 100%;
    color: var(--blanco);
    background-color: var(--gris);
    border: 1px solid var(--gris);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    transition: background-color .3s;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btnlogin {
        width: 20%;
    }
}

.btnlogin:hover {
    background-color: var(--blanco);
    color: var(--gris);
}